body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #6100cf;
  font-weight: bold;
  font-size: 30px;
  border-left: 3px solid black;
}

.jumbotron {
  text-align: center;
  background-color: rgb(180, 228, 180);
  color: rgb(236, 127, 25);
  border-radius: 0;
  border-bottom: 15px dashed rgb(252, 248, 24);
 
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  font-size: 24px;
  color:rgb(24, 35, 136);
  font-weight: bold;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid rgb(104, 5, 5);
  border-top: 3px solid rgb(104, 5, 5);
}

.clearBtn {
  height: 60px;
  border:3px solid rgb(104, 5, 5);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: aqua;
  color: tomato;
  font-weight: bold;
  font-size: 28px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hour {
  background-color: #eecade;
  color: #175557;
  font-weight: bold;
  border: 3px solid rgb(104, 5, 5);
  border-top: 3px solid rgb(104, 5, 5);
}

.past {
  background-color: #d3d3d3;
  color: #6100cf;
}

.present {
  background-color: #ff6961;
  color: #6100cf;
}

.future {
  background-color: #77dd77;
  color: #6100cf;
}

.saveBtn {
  border-left: 3px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.col-3 {
  font-size: 30px;
}

.display-3 {
  font-size: 4.5rem;
}

#floppydisc {
  height: 65px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 550px) {
  textarea {
    font-size: 20px;
  }
  .col-3 {
    font-size: 22px;
  }
   #floppydisc {
    height:30px;
  }

  @media only screen and (max-width: 360px) {
  .display-3 {
    font-size: 28px;
  }
}
}
